*{
  
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* body{  background-color:#030113; */
    /* color:#F79700; */



.select_nd_heading{
    background-color: black;
    color:#F79700;
    height: 150px;
}

.select_nd_heading h1{
    text-align: center;
    font-size: 3em;
    padding-top: 1rem;
}

.select_nd_heading select{
    width: 10rem;
    height: 50px;
    font-size: 1.1em;
    font-weight: bold;
    background-color:black;
    color: #F79700;
    border:2px solid #F79700;
    margin-left:1%;

}

.select_nd_heading button{
    /* width: 15rem; */
    padding: 10px;
    height: 50px;
    font-size: 1.2em;
    font-weight: bold;
    color:#F79700;
    background-color: black;
    border:2px solid #F79700;
    float: right;
    margin: 0 1rem;

}



.select_nd_heading button:hover{
    background-color: #F79700;
    color: black;
}
.select_nd_heading button:active{
    background-color: #8a590b;
    color: black;
}

.main_table{
     border:2px solid red;
    width: 90%;
    margin: 0 auto;
    overflow-y: scroll;
    overflow-x: scroll; 
     overflow-wrap: break-word; 
    height: 75vh;
    border: 2px solid gray; 
}

.Table{
    border-collapse: collapse;
    overflow-wrap: break-word;
    /* border:1px solid red; */
}

.main_table th{
    background-color: gray;
    height: 70px;
    border-bottom: 1px solid gray;
    font-size: 1.2em;
    text-transform: capitalize;
    width: auto;
    color: black;
}

.main_table tr{
    height: 50px;    
    border:none;
   text-align: center;
    border-bottom: 0.1px solid #F79700;
    color: #F79700;
}

.main_table tr:hover{
    background-color: #F79700;
    color: black;
}

/* .main_table td{ */
    /* height: 50px; */
    /* padding-left: 15px; */
    /* text-align: center;
    border: none;
    border-bottom: 1px solid gray;
    font-size: 1.1em;
} */

.neg:hover{
    border: 2px solid red;
    background-color: rgb(252, 84, 84);
    color: white;
    font-weight: bold;

}


.pos:hover{
    border: 2px solid darkgreen;
    background-color: rgb(98, 252, 84);
    color: white;
    font-weight: bold;

}

.nActive{background-color: black;}
.active{background-color: gainsboro;}
 



@media screen and (max-width: 1000px) {
    .main_table{
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .main_table{
        width: 100%;
        margin-top: 2rem;
        box-shadow: 0px 0px 10px 0px gray;
        padding: 0;

    }
    .select_nd_heading{
        height: 250px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center
        
    }

    .select_nd_heading select{
        margin-top: 2rem;
    }

    .select_nd_heading button{
        margin-top: 1rem;
        height: 60px;
    }
    .main_table tr{
        height: auto;
    }
      
    .main_table tr:hover{
        background-color: #F79700;
    }

    .main_table{
        height: auto;
    }
}